$profile-image-size: 300px;
$profile-image-size-sm: 250px;
$name-size: 60px;
$occupation-size: 25px;
@import "./columns/columns";
@import "../components/components";

> main {
    @include flat-container;
    > div.main-container {
        @include flat-container;
        overflow-x: hidden;
        max-width: 1000px;
        padding: 20px 80px;
        > header.jumbotron {
            position: relative;
            padding: 0 80px;
            margin: 20px -80px;
            display: flex;
            align-items: center;
            justify-content: center;
            @include transition((margin, padding));
            > div {
                position: relative;
                display: inline-block;
            }
            > div.portfolio-image {
                width: $profile-image-size;
                height: $profile-image-size;
                min-width: $profile-image-size;
                min-height: $profile-image-size;
                border-radius: 100%;
                overflow: hidden;
                @include transition((width 200ms, height 200ms, min-width, 200ms, min-height 200ms, box-shadow 500ms));
                &:hover {
                    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.4), 0 0 20px 0px rgba(0, 0, 0, 0.5);
                }
                > img {
                    position: relative;
                    width: 100%;
                    height: 100%;
                }
            }
            > div.name-and-occupation {
                margin-left: 60px;
                > h1.name {
                    font-size: $name-size;
                    text-transform: uppercase;
                    word-spacing: 100vw;
                    word-break: break-word;
                    margin: 0;
                    @include transition((font-size 200ms));
                }
                > h2.occupation {
                    font-size: $occupation-size;
                    text-transform: uppercase;
                    word-break: break-word;
                    font-weight: 400;
                    margin: 0;
                }
            }
        }
    }
}

@media only screen and (max-width: 865px) {
    > main {
        > div.main-container {
            > header.jumbotron {
                > div.portfolio-image {
                    width: $profile-image-size-sm;
                    height: $profile-image-size-sm;
                    min-width: $profile-image-size-sm;
                    min-height: $profile-image-size-sm;
                }
                > div.name-and-occupation {
                    > h1.name {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 745px) {
    > main {
        > div.main-container {
            > header.jumbotron {
                flex-direction: column;
                margin: 20px 0;
                padding: 0;
                > div {
                    width: 100%;
                    text-align: center;
                }
                > div.name-and-occupation {
                    margin: 0;
                    margin-bottom: 40px;
                    > h1.name {
                        margin-top: 40px;
                        word-spacing: inherit;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 680px) {
    > main {
        > div.main-container {
            padding: 20px 40px;
            > div.columns-container {
                display: block;
            }
        }
    }
}

@media only screen and (max-width: 490px) {
    > main {
        > div.main-container {
            padding: 20px;
            > header.jumbotron {
                > div.portfolio-image {
                    width: $profile-image-size-sm;
                    height: $profile-image-size-sm;
                    min-width: $profile-image-size-sm;
                    min-height: $profile-image-size-sm;
                }
            }
        }
    }
}
